.account {
  margin: 0 auto;
  padding-top: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  text-align: left;
}

.heading-container {
  display: inline-flex;
  padding-left: 50px;
  justify-content: center;
  align-items: center;
}

.address-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.address {
  font-size: 110%;
}

.balance {

}

.label {
}

.transactions {
  margin: 0 auto;
  width: 90%;
}

.img_container img {
  border-radius: 50px;
}
