@import "_theming.scss";

@include mat-core();

//651FFF
$mat-shaft: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #651fff,
  600: #5e35b1,
  700: #512da8,
  800: #4527a0,
  900: #311b92,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

$shaft-app-primary: mat-palette($mat-shaft);
$shaft-app-accent:  mat-palette($mat-shaft, A200, A100, A400);
$shaft-app-accent:  mat-palette($mat-shaft, A200, A100, A400);
$shaft-app-warn:    mat-palette($mat-red);
$shaft-app-theme: mat-light-theme($shaft-app-primary, $shaft-app-accent, $shaft-app-warn);

@include angular-material-theme($shaft-app-theme);
