/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: Roboto sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.snackbar-container {
  min-height: 10px;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
