<div class="send">
  <div *ngIf="accounts.length > 0">
    <form novalidate class="send-form" [formGroup]="form">
      <span style="text-align: center"><p>Spend some shafts</p></span>
      <mat-form-field [style.width]="'100%'" class="send-form_field">
        <mat-select placeholder="Choose from" formControlName="from" name="from">
          <mat-option *ngFor="let account of accounts" [value]="account">
            {{account}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width]="'100%'" class="send-form_field">
        <input matInput placeholder="To" name="to" formControlName="to" type="text">
      </mat-form-field>

      <mat-form-field [style.width]="'100%'" class="send-form_field">
        <input matInput placeholder="Amount" name="value" formControlName="value" type="number">
      </mat-form-field>
      <div>
        <p>
          <button [disabled]="form.invalid" (click)="openSendDialog()" mat-raised-button mat-button="primary"
                  color="primary">Send
          </button>
          <!--
                    <button style="background-color: #64b4ed" (click)="advanced=!advanced" mat-raised-button mat-button="primary" color="primary">Advanced</button>
          -->
        </p>
      </div>
    </form>
  </div>
  <div *ngIf="accounts.length ==  0">
    No accounts created
  </div>
</div>
