.send {
  margin: 0 auto;
  padding: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.send-title {
  padding-left:50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.send-form {
  width: 60%;
  margin: 0 auto;
}

.send-form_field {
  padding-right:50px
}

.mat-select-panel {
  max-width: 400px !important;
}
