.logo-label {
  font-weight: 300;
  padding: 10px;
}

.logo {
  width: auto;
  padding-right: 10px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  width: 100%;
}

.nav ul li {
  padding: 10px;
}

.app-controls {
  width: 100%;
  -webkit-app-region: drag;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0;
}

.exit-button {
  -webkit-app-region: no-drag;
  margin-left: auto;
}

.menu-button {
  -webkit-app-region: no-drag;
  min-width: 32px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {

}
