.logo-label {
  font-weight: 300;
  padding: 10px;
}

.logo {
  width: auto;
  padding-right: 10px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  width: 100%;
}

.nav ul li {
  padding: 10px;
}

.toolbar-container {
  background-color: #651FFF;
  width: 100%;
  -webkit-app-region: drag;
  height: 100%;
  padding: 0;
}

.exit-button {
  -webkit-app-region: no-drag;
  margin-left: auto;
}

.max-button {
  -webkit-app-region: no-drag;
  margin-left: auto;
}

.min-button {
  -webkit-app-region: no-drag;
  margin-left: auto;
}

.menu-button {
  -webkit-app-region: no-drag;
  min-width: 32px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color:white;
}

.app-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}
