<div class="home">

  <div class="info">
    <div class="balance_line">
      <div class="balance balance_line_item">{{getTotalBalance()}}</div>
      <div class="shf_icon balance_line_item">
        <shaft-icon></shaft-icon>
      </div>
      <div class="shf_ticker balance_line_item">SHF</div>
    </div>
    <div class="sub-info">
      <div class="line">
        <arrow-icon class="arrow" [direction]="'down'"></arrow-icon>
        <span class="line_text">Mined:</span>
        <span class="line_value">{{getMinedBlocks()}}</span>
        <span class="line_value">BLOCKS</span>
      </div>
      <div class="line">
        <arrow-icon class="arrow" [direction]="'right'"></arrow-icon>
        <span class="line_text">Received:</span>
        <span class="line_value">{{getReceived()}}</span>
        <span class="line_value">SHF</span>
      </div>
      <div class="line">
        <arrow-icon class="arrow" [direction]="'left'"></arrow-icon>
        <span class="line_text">Sent:</span>
        <span class="line_value">{{getSent()}}</span>
        <span class="line_value">SHF</span>
      </div>
    </div>
    <!--
        <div *ngIf="getAccountsAsArray().length == 0" class="heading">0 SHF</div>
        <div *ngIf="getAccountsAsArray().length > 0">
          <div class="heading">{{getTotalBalance()}} SHF</div>
        </div>-->
  </div>

  <div class="transactions" *ngIf="getAllTransactions().length>0">
    <div class="tx-scroll-container">
      <div *ngFor="let tx of getAllTransactions()">
        <div class="tx-card" (click)="openTransactionDetailsDialog(tx.hash)">
          <mat-card style="padding:25px">
            <mat-card-header>
              <span style="margin-left:-8px;text-align:left;font-size: 10pt;font-weight: 800">{{tx.hash}}</span>
            </mat-card-header>
            <mat-card-content>
              <div
                style="text-align: left;padding:10px;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;">
                <span>From: {{tx.from}}</span>
                <span>To: {{tx.to}}</span>
                <span>Amount: {{tx.value | weiToEther}} SHF</span>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
