<div class="home">

  <div class="info">
    <div>
      <span class="sub-heading">Total balance</span>
      <div class="balance info_item">
        <div *ngIf="getAccountsAsArray().length == 0" class="heading">0 SHF</div>
        <div *ngIf="getAccountsAsArray().length > 0">
          <div class="heading">{{getTotalBalance()}} SHF</div>
        </div>
      </div>
    </div>

    <div>
      <span class="sub-heading">Total blocks mined</span>
      <div class="mined info_item">
        <span class="heading">{{minedBlocks.length}} BLOCKS</span>
      </div>
    </div>
    <div>
      <span class="sub-heading">Difficulty</span>
      <div class="difficulty info_item">
        <span class="heading">{{getDiffHumanReadable()}}G</span>
      </div>
    </div>
  </div>

  <div class="transactions">
    <span>Transactions</span>
    <div class="tx-scroll-container">
      <div *ngFor="let tx of getAllTransactions()">
        <div class="tx-card" (click)="openTransactionDetailsDialog(tx.hash)">
          <mat-card>
            <mat-card-header>
              <span style="font-size: 80%;font-weight: 400">{{tx.hash}}</span>
            </mat-card-header>
            <mat-card-content>
              <div
                style="text-align: left;padding:10px;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;">
                <span>From: {{tx.from}}</span>
                <span>To: {{tx.to}}</span>
                <span>Amount: {{tx.value | weiToEther}} SHF</span>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
