.home {
  /*  height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: left;
    justify-content: space-between;*/

  height: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
}

.accounts {
  padding-top: 10px;
}

.transactions {
  opacity: 0.9;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 140%;
}

.info {
  opacity: 0.9;
  padding: 10px;
  left: 0;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_item {
  text-align: center;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px;
  margin: 30px;
  margin-top: 10px;
  display: flex;
  min-width: 100px;
  min-height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tx-card {
  padding: 10px;
  word-break: break-all;
}

.tx-scroll-container {
  display: block;
  height: 80vh;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
  cursor: pointer;
}

.sub-heading {
  font-size: 15pt;
}

.heading {
  font-size: 16pt;
  font-weight: 600;
  opacity: 0.9;
}

.mined {
}

.balance {
  font-weight: 600;
}

.balance_line {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.balance_line_item {
  padding: 5px;
  font-size: 30pt;
}

.shf_icon {

}

.shf_ticker {

}

.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  padding-top:5px;
  padding-down:5px;
}

.sub-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.line_text {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25pt;
  font-weight: 600

}

.line_value {
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25pt;
}

.arrow {
  padding-right: 8px;
  display: flex;
  align-items: flex-end;
}
