.transaction_detail_dialog {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.transaction_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top:10px
}

.tx-item {
  padding:2px;
}


.from-to {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.from-to_item {
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
