<div class="sidenav_container">
  <nav class="nav">
    <ul>
      <li>
        <a mat-button (click)="sidenav.close()" class="app-control-buttons" routerLink="/home"
           routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a mat-button (click)="sidenav.close()" class="app-control-buttons" routerLink="/accounts"
           routerLinkActive="active">Accounts</a>
      </li>
      <li>
        <a mat-button (click)="sidenav.close()" class="app-control-buttons" routerLink="/send"
           routerLinkActive="active">Send</a>
      </li>
    </ul>

  </nav>
  <div class="build_information">
    Alpha-v0.0.4
  </div>
</div>
