.accounts {
  margin: 0 auto;
  padding: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.accounts_list ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap
}

.accounts_list ul li {
  padding-top: 0;
  padding-bottom: 25px;
  padding-left: 25px;
  margin-bottom: 25px;
}

.account_card {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 200px;
  width: 160px;
}

.create_account_button {
}

.account_card:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

.account-icon {
  text-align: center;
}

.label {
  word-wrap: break-word;
}

.card_icon {
  opacity: 0.3;
}
.create_account_button {
  margin-top:10px;
  background-color: #651FFF;
  color:white;
}

.no_accounts {
  height: calc((100vh - 128px));
  justify-content: center;
  align-items: center;
  font-size: 22pt;
  opacity: 0.9;
}

.no_accounts img {
  height: 200px;
  padding:50px;
}
