<div class="accounts">
  <div *ngIf="getAccountsAsArray().length === 0">You have not created accounts yet.</div>
  <div *ngIf="getAccountsAsArray().length > 0" class="accounts_list">
    <ul>
      <li *ngFor="let account of getAccountsAsArray();let i = index">
        <div>
          <mat-card class="account_card" [routerLink]="['/account', account]">
            <mat-card-content>
              <div class="flex-column" style="justify-content: center;align-items: center">
                <div class="card_icon">
                  <shaft-icon></shaft-icon>
                </div>
                <span style="text-align: center;padding:20px;opacity:0.9;font-size:20px;word-break: normal">{{this.accounts[account].label || 'Label ' + i}}</span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </li>
      <li>
        <mat-card class="account_card" [routerLink]="['/account', account]">
          <div class="card_icon">
            <shaft-icon></shaft-icon>
          </div>
          <button class="create_account_button" mat-button="" (click)="openCreateAccountDialog()">Create account</button>
        </mat-card>
      </li>
    </ul>
  </div>
  <div>
    <p>
      <button (click)="openCreateAccountDialog()" mat-raised-button mat-button="primary" color="primary">
        Create account
      </button>
    </p>
  </div>
</div>
