.accounts {
  margin: 0 auto;
  padding: 50px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.accounts_list ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap
}

.accounts_list ul li {
  padding: 25px 25px 25px 0px;

}

.account_card {
  text-decoration: none;
  color: black;
}

.account_card:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
