<div class="app mat-app-background">
  <mat-sidenav-container class="container">
    <shaft-header class="header" [sidenav]="sidenav"></shaft-header>
    <mat-sidenav #sidenav class="sidenav">
      <sidenav [sidenav]="sidenav"></sidenav>
    </mat-sidenav>

    <div class="sidenav-content">
      <div class="loading-spinner flex-column" *ngIf="!initialized">
        <mat-spinner></mat-spinner>
      </div>
      <div style="width:100%;height:100%" *ngIf="initialized">
        <router-outlet style="width:100%;height:100%"></router-outlet>
      </div>
    </div>

    <shaft-footer class="footer-a"></shaft-footer>
  </mat-sidenav-container>

</div>
