<div class="footer" style="width:100%">
  <mat-toolbar style="background-color:#651FFF;width:100%;color:white">
    <div class="footer-container">
      <div class="syncing-box">
        <div>{{syncing}}</div>
        <div>Block: {{getBlockNumber()}}</div>
      </div>
      <div class="datetime-box">
        <span>{{getDateStr()}}</span>
        <span>{{getTimeStr()}}</span>
      </div>
      <div class="peers-box">
        <span>Peers: {{getPeerCount()}}</span>
      </div>
    </div>
  </mat-toolbar>
</div>
