.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.logo {
  width: 20px;
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 80%;
  line-height: 1.5;
}

.datetime-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
